<h1 class="animated fadeIn fast">Sobre Comics App</h1>
<hr class="animated fadeIn fast">
<p class="animated fadeIn">Una historieta es una serie de dibujos que constituyen un relato, con o sin texto,
  1​ así como al medio de comunicación en su conjunto.
  2​ Partiendo de la concepción de Will Eisner de esta narrativa gráfica como un arte secuencial, Scott McCloud llega a la siguiente definición: «Ilustraciones yuxtapuestas
  y otras imágenes en secuencia deliberada con el propósito de transmitir información u obtener una respuesta estética del lector».
  3​ Sin embargo, no todos los teóricos están de acuerdo con esta definición, la más popular en la actualidad, dado que permite la inclusión de la fotonovela
  4​ y, en cambio, ignora el denominado humor gráfico.​</p>
